/*
Light Grey: #DDDDDD
Dark Grey: #222831
Navy Blue: #30475E
Neon Pink: #F05454
*/

body {
  width: 100%;
  height: 100%;
  background-image: url("images/wallpaper_dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  font-family: Arial, sans-serif;
}

#titleBar h1, h3, details, details summary, label, h4 {
  color: #DDD;
}

#titleBar {
  width: 100%;
  height: 150px;
  background-image: linear-gradient(45deg, #222831 25%, #30475e 25%, #30475e 50%, #222831 50%, #222831 75%, #30475e 75%, #30475e 100%);
  background-size: 56.57px 56.57px;
  border-bottom: 4px solid #F05454;
  position: relative;
}

#titleBarSub {
  width: 100%;
  height: 40px;
  background-color: #222831;
  position: absolute;
  bottom: 0;
}

#titleBar h1 {
  font-family: "Bebas Neue", sans-serif;
  margin: auto 10%;
  height: 110px;
  line-height: 175px;
  font-size: 4.1em;
}

#dropdownMenuLink {
  margin-left: 50px;
  margin-top: 15px;
  border: 1.5px #30475E;
  margin-bottom: 15px;
  box-shadow: 0px 5px 5px  #30475E;
  text-align: center;
}

# {}

#movieList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

#movieList li {
  width: 22%;
  margin: 10px;
  padding: .5em;
  text-align: center;
  height: 100%;
  background-color: rgba(34, 40, 49, 0.8);
  border-radius: 10px;
}

.movieImg {
  width: 90%;
}

.img-movieShot {
  padding: .25rem;
  background-color: #30475E;
  /* border: 1px solid #dee2e6; */
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.view {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

details summary::-webkit-details-marker {
  display:none;
}

.viewBox {
  /* position: absolute; */
  z-index: 5;
}

.viewBox h4 {
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: left;
  margin: 14px 10px 10px;
}

.movie-genre, .movie-rated {
  font-weight: bold;
  font-size: 1.1em !important;
  text-align: center !important;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #fbafe3;
	background:linear-gradient(to bottom, #ff5bb0 5%, #ef027d 100%);
	background-color:#ff5bb0;
	border-radius:6px;
	border:1px solid #ee1eb5;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #c70067;
}

.myButton:hover {
	background:linear-gradient(to bottom, #ef027d 5%, #ff5bb0 100%);
	background-color:#ef027d;
}

.myButton:active {
	position:relative;
	top:1px;
}
