/*
Light Grey: #DDDDDD
Dark Grey: #222831
Navy Blue: #30475E
Neon Pink: #F05454
*/

body {
  width: 100%;
  height: 100%;
  background-image: url("images/wallpaper_dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
}

#titleBar h1, h3, details, details summary, label, h4 {
  color: #DDD;
}

#titleBar {
  width: 100%;
  height: 150px;
  background-color: #30475E;
  border-bottom: 4px solid #F05454;
  position: relative;
}

#titleBar div {
  width: 100%;
  height: 40px;
  background-color: #222831;
  position: absolute;
  bottom: 0;
}

#titleBar h1 {
  margin: 0;
}

.movieImg {
  width: 206px;
}
